@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "商品详情";
}
@model Agriculture_online_supermarket.Models.DetailViewModel
<h2>商品详情</h2>

@Html.ActionLink("加入购物车", "AddToShoppingCart", "Customer")
@Html.ActionLink("购买", "Purchase", "Customer")



<div class="shopdetailimg col-md-2">
    <img src="@Html.Raw(Model.imagePath)" width="150" height="150" alt="@Html.DisplayFor(modelitem=>Model.productName)" />
</div>
<div class="goods-info">
    <div class="good-name">
        <h3>
            @Html.DisplayFor(modelitem=>Model.productName)
        </h3>
    </div>
    <div class="good-desc">
        <p>@Html.DisplayFor(modelitem => Model.productInfo)</p>
    </div>
    <div class="price-view">
        <p>价格</p>
        <div class="price">
            ￥
            <span>@Html.DisplayFor(modelitem => Model.unitPrice)</span>

        </div>
    </div>
    <section>



        <div class="txtright col-md-2">
            <span class="text-center"><a href="cashier.html" class="btn btn-danger" role="button">购买&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></span>
        </div>
        <div class="txtright col-md-2">
            <span class="text-center"><a href="shoppingcart.html" class="btn btn-danger" role="button">加入购物车</a></span>
            <div style="clear:both"></div>
        </div>

    </section>
</div>

              

