@model List<Agriculture_online_supermarket.Models.IndexModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "首页";
}

<div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden-xs">
        <div id="carousel-299058" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-target="#carousel-299058" data-slide-to="0" class=""> </li>
            <li data-target="#carousel-299058" data-slide-to="1" class="active"> </li>
            <li data-target="#carousel-299058" data-slide-to="2" class=""> </li>
          </ol>
          <div class="carousel-inner">
            <div class="item"> <img class="img-responsive" src="~/Content/images/indexhead1.png" alt="">
              <div class="carousel-caption">绿色食品 </div>
            </div>
            <div class="item active"> <img class="img-responsive" src="~/Content/images/indexhead2.png" alt="">
              <div class="carousel-caption"> 有机农场 </div>
            </div>
            <div class="item"> <img class="img-responsive" src="~/Content/images/indexhead3.png" alt="">
              <div class="carousel-caption"> 计142班 </div>
            </div>
          </div>
          <a class="left carousel-control" href="#carousel-299058" data-slide="prev"><span class="icon-prev"></span></a> <a class="right carousel-control" href="#carousel-299058" data-slide="next"><span class="icon-next"></span></a></div>
      </div>
    </div>
    <hr>
  </div>
<hr>
<div class="container">
    @*搜索，订单，购物车*@
	@using (Html.BeginForm("Search", "Customer", null, FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
    {
        
        <div class="form-group" >
            <div class="col-lg-9 col-md-12">
                @Html.TextBox("SearchContent", null, new { @class = "form-control", @style = "display:inline;" })
                <input type="submit" value="搜索" class="btn btn-default" />
                
            </div>
            
        </div>
    }
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-md-offset-3 col-lg-offset-0">
      <div class="well">
        <h3 class="text-center">分类</h3>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="location1" class="control-label">
                蔬菜
            </label>
              <br>
              <div class="col-lg-10 col-md-8 col-md-offset-3 col-lg-offset-0">
                  @Html.ActionLink("青菜", "Search", "Customer", new { @SearchContent = "青菜" }, null)
                  @Html.ActionLink("萝卜", "Search", "Customer", new { @SearchContent = "萝卜" }, null)
                  @Html.ActionLink("茄子", "Search", "Customer", new { @SearchContent = "茄子" }, null)
                  @Html.ActionLink("菠菜", "Search", "Customer", new { @SearchContent = "菠菜" }, null)
                  @Html.ActionLink("玉米", "Search", "Customer", new { @SearchContent = "玉米" }, null)
                  <br >
                  @Html.ActionLink("黄瓜", "Search", "Customer", new { @SearchContent = "黄瓜" }, null)
                  @Html.ActionLink("番茄", "Search", "Customer", new { @SearchContent = "番茄" }, null)
              </div>
              <br>
</div>
          <div class="form-group">
            <label for="type1" class="control-label">
                荤菜
            </label>
              <br>
              <div class="col-lg-10 col-md-8 col-md-offset-3 col-lg-offset-0">
                  @Html.ActionLink("鸡肉", "Search", "Customer", new { @SearchContent = "鸡" }, null)
                  @Html.ActionLink("牛肉", "Search", "Customer", new { @SearchContent = "牛" }, null)
                  @Html.ActionLink("羊肉", "Search", "Customer", new { @SearchContent = "羊" }, null)
                  @Html.ActionLink("鸭肉", "Search", "Customer", new { @SearchContent = "鸭" }, null)
                  @Html.ActionLink("猪肉", "Search", "Customer", new { @SearchContent = "猪" }, null)
                  <br>
                  @Html.ActionLink("鸡蛋", "Search", "Customer", new { @SearchContent = "蛋" }, null)
                  @Html.ActionLink("鱼肉", "Search", "Customer", new { @SearchContent = "鱼" }, null)
              </div>
              <br>
</div>
          <div class="form-group">
            <label for="pricefrom" class="control-label">
                水果
            </label>
              <br>
              <div class="col-lg-10 col-md-8 col-md-offset-3 col-lg-offset-0">
                  @Html.ActionLink("苹果", "Search", "Customer", new { @SearchContent = "苹果" }, null)
                  @Html.ActionLink("香蕉", "Search", "Customer", new { @SearchContent = "香蕉" }, null)
                  @Html.ActionLink("梨", "Search", "Customer", new { @SearchContent = "梨" }, null)
                  @Html.ActionLink("火龙果", "Search", "Customer", new { @SearchContent = "火龙果" }, null)
                  @Html.ActionLink("葡萄", "Search", "Customer", new { @SearchContent = "葡萄" }, null)
                  <br>
                  @Html.ActionLink("橘子", "Search", "Customer", new { @SearchContent = "橘子" }, null)
                  @Html.ActionLink("榴莲", "Search", "Customer", new { @SearchContent = "榴莲" }, null)
              </div>
              <br>
</div>
          <div class="form-group">
            <label for="priceto" class="control-label">粮食</label>
              <br>
              <div class="col-lg-10 col-md-8 col-md-offset-3 col-lg-offset-0">
                  @Html.ActionLink("大米", "Search", "Customer", new { @SearchContent = "米" }, null)
                  @Html.ActionLink("小麦", "Search", "Customer", new { @SearchContent = "小麦" }, null)
                  @Html.ActionLink("荞麦", "Search", "Customer", new { @SearchContent = "荞麦" }, null)
                  
              </div>
              <br>
          </div>
</form>
      </div>
      <hr>
      
    </div>
    <div class="col-lg-9 col-md-12">
       @{
           int count = 0;
       }
        @if (Model != null)
        {
            for (int i = 0; i < Math.Ceiling(Model.Count / 3.0); i++)
            {
                <div class="row">
                    @for (int j = 0; j < 3; j++)
                    {
                        if (count < Model.Count)
                        {
                            Agriculture_online_supermarket.Models.IndexModel model = Model[count];

                            
                            <a href="@Html.Raw("/Customer/Detail/"+model.productID)">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                    <div class="thumbnail">
                                        <img src="@Html.Raw(model.imagePath)" alt="" class="img-responsive">
                                        <div class="caption">
                                            <h3>@Html.DisplayFor(modelitem => model.productName)</h3>
                                            <p>@Html.DisplayFor(modelitem => model.sellerName)</p>
                                            <hr>
                                            <p class="text-center">￥@Html.DisplayFor(modelitem => model.price)</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            count++;
                        }else
                        {
                            break;
                        }
                    }
                    
                </div>
            }
        }
       

    </div>
</div>
</div>
