@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "订单";
}

<h2>订单</h2>

<table>
    <tr>
        <td>（未发货）</td>
        <td>@Html.ActionLink("查看", "OrderDetail", "Customer")</td>
    </tr>
    <tr>
        <td>（待收货）</td>
        <td>@Html.ActionLink("查看", "OrderDetail", "Customer")</td>
        <td>@Html.ActionLink("确认收货", "ConfirmReceipt", "Customer")</td>
    </tr>
    <tr>
        <td>（已完成）</td>
        <td>@Html.ActionLink("查看", "OrderDetail", "Customer")</td>
        <td>@Html.ActionLink("申请退款", "ApplyRefund", "Customer")</td>
    </tr>
</table>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-11">
                <h3>买家订单</h3>
                <hr>
                <ul id="myTab1" class="nav nav-tabs">
                    <li class="active"> <a href="#home1" data-toggle="tab"> 已完成订单 </a> </li>
                    <li><a href="#pane2" data-toggle="tab">未发货订单</a></li>
                    <li> <a href="#pane3" data-toggle="tab">已发货订单</a> </li>
                </ul>
                <div id="myTabContent1" class="tab-content">
                    <div class="tab-pane fade in active" id="home1">

                        <div class="order col-md-2">
                            <p>订单编号</p>
                        </div><div class="orderdesb col-md-2"><p>物流单号</p></div>
                        <div class="order col-md-2"><p>订单描述</p></div>
                        <div class="order col-md-2 col-md-offset-0"><p>订单商品数量</p></div>
                        <div class="order col-md-2 col-md-2"><p>订单总额</p></div>
                        <div class="order col-md-2"><p>订单操作</p></div>
                        <div class="order col-md-2">
                            <p>001</p>
                        </div><div class="order col-md-2"><p>00001</p></div>
                        <div class="order col-md-2"><p><a href="#">土鸡蛋250g</a></p></div>
                        <div class="order col-md-2"><p>1</p></div>
                        <div class="order col-md-2 col-md-2"><p>￥3.99</p></div>
                        <div class="order col-md-2">
                            <p class="text-center">
                                <a href="#" class="btn btn-danger" role="button">查看 </a>
                                <a href="#" class="btn btn-danger" role="button">申请退款 </a>

                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pane2">

                        <div class="order col-md-2">
                            <p>订单编号</p>
                        </div>
                        <div class="order col-md-2"><p>订单描述</p></div>
                        <div class="order col-md-2"><p>订单商品数量</p></div>
                        <div class="order col-md-2 col-md-2"><p>订单总额</p></div>
                        <div class="order col-md-2"><p>订单操作</p></div>
                        <div class="order col-md-2"><p> </p></div>

                        <div class="order col-md-2">
                            <p>001</p>
                        </div>
                        <div class="order col-md-2"><p><a href="#">土鸡蛋250g</a></p></div>
                        <div class="order col-md-2"><p>1</p></div>
                        <div class="order col-md-2 col-md-2"><p>￥3.99</p></div>
                        <div class="order col-md-2"><p class="text-center"><a href="order.html" class="btn btn-danger" role="button">查看 </a></p></div>
                        <div class="order col-md-2"><p></p></div>

                    </div>
                    <div class="tab-pane fade" id="pane3">

                        <div class="order col-md-2">
                            <p>订单编号</p>
                        </div>
                        <div class="order col-md-2"><p>物流单号</p></div>
                        <div class="order col-md-2"><p>订单描述</p></div>
                        <div class="order col-md-2"><p>订单商品数量</p></div>
                        <div class="order col-md-2 col-md-2"><p>订单总额</p></div>
                        <div class="order col-md-2"><p>订单操作</p></div>
                        <div class="order col-md-2">
                            <p>001</p>
                        </div><div class="order col-md-2"><p>00001</p></div>
                        <div class="order col-md-2"><p><a href="#">土鸡蛋250g</a></p></div>
                        <div class="order col-md-2"><p>1</p></div>
                        <div class="order col-md-2 col-md-2"><p>￥3.99</p></div>
                        <div class="order col-md-2">
                            <p class="text-center">
                                <a href="#" class="btn btn-danger" role="button">查看 </a>
                                <a href="#" class="btn btn-danger" role="button">确认收货 </a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>