@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "订单";
}
@model List<Agriculture_online_supermarket.Models.CustomerOrderViewModel>
<h2>订单</h2>

<table>
    <tr>
        <td>（未发货）</td>
        <td>@Html.ActionLink("查看", "OrderDetail", "Customer")</td>
    </tr>
    <tr>
        <td>（待收货）</td>
        <td>@Html.ActionLink("查看", "OrderDetail", "Customer")</td>
        <td>@Html.ActionLink("确认收货", "ConfirmReceipt", "Customer")</td>
    </tr>
    <tr>
        <td>（已完成）</td>
        <td>@Html.ActionLink("查看", "OrderDetail", "Customer")</td>
        <td>@Html.ActionLink("申请退款", "ApplyRefund", "Customer")</td>
    </tr>
</table>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-11">
                <h3>买家订单</h3>
                <hr>
                <ul id="myTab1" class="nav nav-tabs">
                    <li class="active"> <a href="#home1" data-toggle="tab"> 已完成订单 </a> </li>
                    <li><a href="#pane2" data-toggle="tab">未发货订单</a></li>
                    <li> <a href="#pane3" data-toggle="tab">已发货订单</a> </li>
                </ul>
                <div id="myTabContent1" class="tab-content">
                    <div class="tab-pane fade in active" id="home1">

                        <div class="order col-md-2">
                            <p>订单编号</p>
                        </div>
                        <div class="order col-md-2"><p>订单描述</p></div>
                        <div class="order col-md-2 col-md-offset-0"><p>订单商品数量</p></div>
                        <div class="order col-md-2 "><p>订单总额</p></div>
                        <div class="order col-md-2"><p>查看</p></div>
                        <div class="order col-md-2"><p>退款</p></div>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            if (Model[i].orderStatus.Equals("订单取消")
                                ||Model[i].orderStatus.Equals("已完成")
                                || Model[i].orderStatus.Equals("待退款")
                                || Model[i].orderStatus.Equals("同意退款")
                                || Model[i].orderStatus.Equals("拒绝退款"))
                            {
                                <div class="order col-md-2">
                                    <p>@Html.DisplayTextFor(modelitem=>Model[i].orderId)</p>
                                </div>
                                <div class="order col-md-2"><p>@Html.ActionLink("Detail","Customer",new { @id =Model[i].productNo})</p></div>
                                <div class="order col-md-2"><p>@Html.DisplayTextFor(modelitem=>Model[i].productNum)</p></div>
                                <div class="order col-md-2 col-md-2"><p>@Html.DisplayTextFor(modelitem => Model[i].TotalMoney)</p></div>
                                <div class="order col-md-2">
                                    <p class="text-center">                                        
                                        @Html.ActionLink("查看","OrderDetail", "Customer", new { @id = Model[i].orderId },new {@class= "btn btn-danger" })
                                    </p>
                                </div>
                                <div class="order col-md-2">
                                    @if (Model[i].orderStatus.Equals("已完成"))
                                    {
                                        Html.ActionLink("申请退款", "ApplyRefund", "Customer", new { @id = Model[i].orderId }, new { @class = "btn btn-danger" });
                                    }else if (Model[i].orderStatus.Equals("订单取消")){
                                        <p>卖家拒绝发货</p>
                                    }
                                    else if (Model[i].orderStatus.Equals("待退款"))
                                    {
                                        <p>等待卖家退款</p>
                                    }
                                    else if (Model[i].orderStatus.Equals("同意退款"))
                                    {
                                        <p>已退款</p>
                                    }
                                    else if (Model[i].orderStatus.Equals("拒绝退款"))
                                    {
                                        <p>卖家拒绝退款</p>
                                    }
                                    
                                </div>
                            }
                        }
                        
                    </div>
                    <div class="tab-pane fade" id="pane2">

                        <div class="order col-md-2">
                            <p>订单编号</p>
                        </div>
                        <div class="order col-md-2"><p>订单描述</p></div>
                        <div class="order col-md-2"><p>订单商品数量</p></div>
                        <div class="order col-md-2 col-md-2"><p>订单总额</p></div>
                        <div class="order col-md-2"><p>订单操作</p></div>
                        <div class="order col-md-2"><p> </p></div>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            if (Model[i].Equals("待发货"))
                            {
                                <div class="order col-md-2">
                                    <p>@Html.DisplayTextFor(modelitem => Model[i].orderId)</p>
                                </div>
                                <div class="order col-md-2"><p>@Html.ActionLink("Detail", "Customer", new { @id = Model[i].productNo })</p></div>
                                <div class="order col-md-2"><p>@Html.DisplayTextFor(modelitem => Model[i].productNum)</p></div>
                                <div class="order col-md-2 col-md-2"><p>@Html.DisplayTextFor(modelitem => Model[i].TotalMoney)</p></div>
                                <div class="order col-md-2"><p class="text-center">@Html.ActionLink("查看", "OrderDetail", "Customer", new { @id = Model[i].orderId }, new { @class = "btn btn-danger" })</p></div>
                                <div class="order col-md-2"><p></p></div>
                            }
                        }
                        

                    </div>
                    <div class="tab-pane fade" id="pane3">

                        <div class="order col-md-2">
                            <p>订单编号</p>
                        </div>

                        <div class="order col-md-2"><p>订单描述</p></div>
                        <div class="order col-md-2"><p>订单商品数量</p></div>
                        <div class="order col-md-2 col-md-2"><p>订单总额</p></div>
                        <div class="order col-md-2"><p>订单操作</p></div>
                        <div class="order col-md-2"><p>收货</p></div>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            if (Model[i].orderStatus.Equals("发货中"))
                            {
                                <div class="order col-md-2">
                                    <p>@Html.DisplayTextFor(modelitem => Model[i].orderId)</p>
                                </div>
                                <div class="order col-md-2"><p>@Html.ActionLink("Detail", "Customer", new { @id = Model[i].productNo })</p></div>
                                <div class="order col-md-2"><p>@Html.DisplayTextFor(modelitem => Model[i].productNum)</p></div>
                                <div class="order col-md-2 col-md-2"><p>@Html.DisplayTextFor(modelitem => Model[i].TotalMoney)</p></div>
                                <div class="order col-md-2">
                                    <p class="text-center">
                                        @Html.ActionLink("查看", "OrderDetail", "Customer", new { @id = Model[i].orderId }, new { @class = "btn btn-danger" })
                                    </p>
                                </div>
                                <div class="order col-md-2">@Html.ActionLink("确认收货", "ConfirmReceipt", "Customer", new { @id = Model[i].orderId }, new { @class = "btn btn-danger" })</div>
                            }
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>